@{
    ViewBag.Title = "Home Page";
}

<h2>History</h2>
<br />
<br />
<br />
<p>
    The Houston Rockets are an American professional basketball team based in Houston. Our Team competes in the National Basketball Association (NBA) as a member team of the league's Western Conference Southwest Division.<br /> <br />
    Our team plays their home games at the Toyota Center, located in Downtown Houston. We have won two NBA championships and four Western Conference titles.<br /> <br />
    This Franchise was established in 1967 as the San Diego Rockets, an expansion team originally based in San Diego. In 1971, the Rockets moved to Houston.<br /> <br />
    In the 1968 NBA draft, we were awarded the first overall pick and selected power forward Elvin Hayes, who would lead the team to its first playoff appearance in his rookie season. <br /> <br />
    The Rockets did not finish a season with a winning record for almost a decade until the 1976–77 season, when they traded for All-Star center Moses Malone.<br />
    Malone went on to win the NBA Most Valuable Player (MVP) award twice while playing with the Rockets and led Houston to the Eastern Conference Finals in his first year with the team.<br /> <br />

</p>
<table class="stats" align="center">

    <tbody>
        <tr class="hintergrundfarbe5">
            <th style="padding-right:40px">
                Year
            </th>
            <th style="padding-right:40px">
                W:L
            </th>
            <th style="padding-right:40px">
                Wins  [%]
            </th>
            <th style="padding-right:40px">
                Play-offs
            </th>
        </tr>


        <tr>
            <td><a href="/w/index.php?title=NBA_1971/72&amp;action=edit&amp;redlink=1" class="new" title="NBA 1971/72 (Seite nicht vorhanden)">1971/72</a></td>
            <td style="text-align:center;">34:48</td>
            <td style="text-align:center;">41,5</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1972/73&amp;action=edit&amp;redlink=1" class="new" title="NBA 1972/73 (Seite nicht vorhanden)">1972/73</a></td>
            <td style="text-align:center;">33:49</td>
            <td style="text-align:center;">40,2</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1973/74&amp;action=edit&amp;redlink=1" class="new" title="NBA 1973/74 (Seite nicht vorhanden)">1973/74</a></td>
            <td style="text-align:center;">32:50</td>
            <td style="text-align:center;">39,0</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1974/75&amp;action=edit&amp;redlink=1" class="new" title="NBA 1974/75 (Seite nicht vorhanden)">1974/75</a></td>
            <td style="text-align:center;">41:41</td>
            <td style="text-align:center;">50,0</td>
            <td>
                1:4 in den Eastern Conference Halbfinals gegen die <a href="/wiki/Boston_Celtics" title="Boston Celtics">Boston Celtics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1975/76&amp;action=edit&amp;redlink=1" class="new" title="NBA 1975/76 (Seite nicht vorhanden)">1975/76</a></td>
            <td style="text-align:center;">40:42</td>
            <td style="text-align:center;">48,8</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1976/77&amp;action=edit&amp;redlink=1" class="new" title="NBA 1976/77 (Seite nicht vorhanden)">1976/77</a></td>
            <td style="text-align:center;">49:33</td>
            <td style="text-align:center;">59,8</td>
            <td>
                2:4 in den Eastern Conference Finals gegen die <a href="/wiki/Philadelphia_76ers" title="Philadelphia 76ers">Philadelphia 76ers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1977/78&amp;action=edit&amp;redlink=1" class="new" title="NBA 1977/78 (Seite nicht vorhanden)">1977/78</a></td>
            <td style="text-align:center;">28:54</td>
            <td style="text-align:center;">34,1</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1978/79&amp;action=edit&amp;redlink=1" class="new" title="NBA 1978/79 (Seite nicht vorhanden)">1978/79</a></td>
            <td style="text-align:center;">47:35</td>
            <td style="text-align:center;">57,3</td>
            <td>
                0:2 in der ersten Runde gegen die <a href="/wiki/Atlanta_Hawks" title="Atlanta Hawks">Atlanta Hawks</a>
            </td>
        </tr>
        <tr>
            <td><a href="/w/index.php?title=NBA_1979/80&amp;action=edit&amp;redlink=1" class="new" title="NBA 1979/80 (Seite nicht vorhanden)">1979/80</a></td>
            <td style="text-align:center;">41:41</td>
            <td style="text-align:center;">50,0</td>
            <td>
                0:4 in den Eastern Conference Halbfinals gegen die <a href="/wiki/Boston_Celtics" title="Boston Celtics">Boston Celtics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1980/81" title="NBA 1980/81">1980/81</a></td>
            <td style="text-align:center;">40:42</td>
            <td style="text-align:center;">48,8</td>
            <td>
                2:4 in den NBA-Finals gegen die <a href="/wiki/Boston_Celtics" title="Boston Celtics">Boston Celtics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1981/82" title="NBA 1981/82">1981/82</a></td>
            <td style="text-align:center;">46:36</td>
            <td style="text-align:center;">56,1</td>
            <td>
                1:2 in der ersten Runde gegen die <a href="/wiki/Seattle_SuperSonics" title="Seattle SuperSonics">Seattle SuperSonics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1982/83" title="NBA 1982/83">1982/83</a></td>
            <td style="text-align:center;">14:68</td>
            <td style="text-align:center;">17,1</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1983/84" title="NBA 1983/84">1983/84</a></td>
            <td style="text-align:center;">29:53</td>
            <td style="text-align:center;">35,4</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1984/85" title="NBA 1984/85">1984/85</a></td>
            <td style="text-align:center;">48:34</td>
            <td style="text-align:center;">58,5</td>
            <td>
                1:2 in der ersten Runde gegen den <a href="/wiki/Utah_Jazz" title="Utah Jazz">Utah Jazz</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1985/86" title="NBA 1985/86">1985/86</a></td>
            <td style="text-align:center;">51:31</td>
            <td style="text-align:center;">62,2</td>
            <td>
                2:4 in den NBA-Finals gegen die <a href="/wiki/Boston_Celtics" title="Boston Celtics">Boston Celtics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1986/87" title="NBA 1986/87">1986/87</a></td>
            <td style="text-align:center;">42:40</td>
            <td style="text-align:center;">51,2</td>
            <td>
                2:4 in den Western Conference Halbfinals gegen die <a href="/wiki/Seattle_SuperSonics" title="Seattle SuperSonics">Seattle SuperSonics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1987/88" title="NBA 1987/88">1987/88</a></td>
            <td style="text-align:center;">46:36</td>
            <td style="text-align:center;">56,1</td>
            <td>
                1:3 in der ersten Runde gegen die <a href="/wiki/Dallas_Mavericks" title="Dallas Mavericks">Dallas Mavericks</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1988/89" title="NBA 1988/89">1988/89</a></td>
            <td style="text-align:center;">45:37</td>
            <td style="text-align:center;">54,9</td>
            <td>
                1:3 in der ersten Runde gegen die <a href="/wiki/Seattle_SuperSonics" title="Seattle SuperSonics">Seattle SuperSonics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1989/90" title="NBA 1989/90">1989/90</a></td>
            <td style="text-align:center;">41:41</td>
            <td style="text-align:center;">50,0</td>
            <td>
                1:3 in der ersten Runde gegen die <a href="/wiki/Los_Angeles_Lakers" title="Los Angeles Lakers">Los Angeles Lakers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1990/91" title="NBA 1990/91">1990/91</a></td>
            <td style="text-align:center;">52:30</td>
            <td style="text-align:center;">63,4</td>
            <td>
                0:3 in der ersten Runde gegen die <a href="/wiki/Los_Angeles_Lakers" title="Los Angeles Lakers">Los Angeles Lakers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1991/92" title="NBA 1991/92">1991/92</a></td>
            <td style="text-align:center;">42:40</td>
            <td style="text-align:center;">51,2</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1992/93" title="NBA 1992/93">1992/93</a></td>
            <td style="text-align:center;">55:27</td>
            <td style="text-align:center;">67,1</td>
            <td>
                3:4 in den Western Conference Halbfinals gegen die <a href="/wiki/Seattle_SuperSonics" title="Seattle SuperSonics">Seattle SuperSonics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1993/94" title="NBA 1993/94">1993/94</a></td>
            <td style="text-align:center;">58:24</td>
            <td style="text-align:center;">70,7</td>
            <td>
                <b>NBA-Meister</b>  mit 4:3 gegen die <a href="/wiki/New_York_Knicks" title="New York Knicks">New York Knicks</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1994/95" title="NBA 1994/95">1994/95</a></td>
            <td style="text-align:center;">47:35</td>
            <td style="text-align:center;">57,3</td>
            <td>
                <b>NBA-Meister</b> mit 4:0 gegen die <a href="/wiki/Orlando_Magic" title="Orlando Magic">Orlando Magic</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1995/96" title="NBA 1995/96">1995/96</a></td>
            <td style="text-align:center;">48:34</td>
            <td style="text-align:center;">58,5</td>
            <td>
                0:4 in den Western Conference Halbfinals gegen die <a href="/wiki/Seattle_SuperSonics" title="Seattle SuperSonics">Seattle SuperSonics</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1996/97" title="NBA 1996/97">1996/97</a></td>
            <td style="text-align:center;">57:25</td>
            <td style="text-align:center;">69,5</td>
            <td>
                2:4 in den Western Conference Finals gegen den <a href="/wiki/Utah_Jazz" title="Utah Jazz">Utah Jazz</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1997/98" title="NBA 1997/98">1997/98</a></td>
            <td style="text-align:center;">41:41</td>
            <td style="text-align:center;">50,0</td>
            <td>
                2:3 in der ersten Runde gegen den <a href="/wiki/Utah_Jazz" title="Utah Jazz">Utah Jazz</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1998/99" title="NBA 1998/99">1998/99</a></td>
            <td style="text-align:center;">31:19</td>
            <td style="text-align:center;">62,0</td>
            <td>
                1:3 in der ersten Runde gegen die <a href="/wiki/Los_Angeles_Lakers" title="Los Angeles Lakers">Los Angeles Lakers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_1999/2000" title="NBA 1999/2000">1999/00</a></td>
            <td style="text-align:center;">34:48</td>
            <td style="text-align:center;">41,5</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2000/01" title="NBA 2000/01">2000/01</a></td>
            <td style="text-align:center;">45:37</td>
            <td style="text-align:center;">54,9</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2001/02" title="NBA 2001/02">2001/02</a></td>
            <td style="text-align:center;">28:54</td>
            <td style="text-align:center;">34,1</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2002/03" title="NBA 2002/03">2002/03</a></td>
            <td style="text-align:center;">43:39</td>
            <td style="text-align:center;">52,4</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2003/04" title="NBA 2003/04">2003/04</a></td>
            <td style="text-align:center;">45:37</td>
            <td style="text-align:center;">54,9</td>
            <td>
                1:4 in der ersten Runde gegen die <a href="/wiki/Los_Angeles_Lakers" title="Los Angeles Lakers">Los Angeles Lakers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2004/05" title="NBA 2004/05">2004/05</a></td>
            <td style="text-align:center;">51:31</td>
            <td style="text-align:center;">62,2</td>
            <td>
                3:4 in der ersten Runde gegen die <a href="/wiki/Dallas_Mavericks" title="Dallas Mavericks">Dallas Mavericks</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2005/06" title="NBA 2005/06">2005/06</a></td>
            <td style="text-align:center;">34:48</td>
            <td style="text-align:center;">41,5</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2006/07" title="NBA 2006/07">2006/07</a></td>
            <td style="text-align:center;">52:30</td>
            <td style="text-align:center;">63,4</td>
            <td>
                3:4 in der ersten Runde gegen den <a href="/wiki/Utah_Jazz" title="Utah Jazz">Utah Jazz</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2007/08" title="NBA 2007/08">2007/08</a></td>
            <td style="text-align:center;">55:27</td>
            <td style="text-align:center;">67,1</td>
            <td>
                2:4 in der ersten Runde gegen den <a href="/wiki/Utah_Jazz" title="Utah Jazz">Utah Jazz</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2008/09" title="NBA 2008/09">2008/09</a></td>
            <td style="text-align:center;">53:29</td>
            <td style="text-align:center;">64,6</td>
            <td>
                3:4 in den Western Conference Halbfinals gegen die <a href="/wiki/Los_Angeles_Lakers" title="Los Angeles Lakers">Los Angeles Lakers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2009/10" title="NBA 2009/10">2009/10</a></td>
            <td style="text-align:center;">42:40</td>
            <td style="text-align:center;">51,2</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2010/11" title="NBA 2010/11">2010/11</a></td>
            <td style="text-align:center;">43:39</td>
            <td style="text-align:center;">52,4</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2011/12" title="NBA 2011/12">2011/12</a></td>
            <td style="text-align:center;">34:32</td>
            <td style="text-align:center;">51,5</td>
            <td>
                Nicht für die Play-offs qualifiziert
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2012/13" title="NBA 2012/13">2012/13</a></td>
            <td style="text-align:center;">45:37</td>
            <td style="text-align:center;">54,9</td>
            <td>
                2:4 in der ersten Runde gegen den <a href="/wiki/Oklahoma_City_Thunder" title="Oklahoma City Thunder">Oklahoma City Thunder</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2013/14" title="NBA 2013/14">2013/14</a></td>
            <td style="text-align:center;">54:28</td>
            <td style="text-align:center;">65,9</td>
            <td>
                2:4 in der ersten Runde gegen die <a href="/wiki/Portland_Trail_Blazers" title="Portland Trail Blazers">Portland Trail Blazers</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2014/15" title="NBA 2014/15">2014/15</a></td>
            <td style="text-align:center;">56:26</td>
            <td style="text-align:center;">68,3</td>
            <td>
                1:4 in den Western Conference Finals gegen die <a href="/wiki/Golden_State_Warriors" title="Golden State Warriors">Golden State Warriors</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2015/16" title="NBA 2015/16">2015/16</a></td>
            <td style="text-align:center;">41:41</td>
            <td style="text-align:center;">50,0</td>
            <td>
                1:4 in der ersten Runde gegen die <a href="/wiki/Golden_State_Warriors" title="Golden State Warriors">Golden State Warriors</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2016/17" title="NBA 2016/17">2016/17</a></td>
            <td style="text-align:center;">55:27</td>
            <td style="text-align:center;">67,1</td>
            <td>
                2:4 in den Western Conference Halbfinals gegen die <a href="/wiki/San_Antonio_Spurs" title="San Antonio Spurs">San Antonio Spurs</a>
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/NBA_2017/18" title="NBA 2017/18">2017/18</a></td>
            <td style="text-align:center;">65:17</td>
            <td style="text-align:center;">79,3</td>
            <td>
                3:4 in den Western Conference Finals gegen die <a href="/wiki/Golden_State_Warriors" title="Golden State Warriors">Golden State Warriors</a>
            </td>
        </tr>

    </tbody>
</table>