
@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #ccc;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: #ccc;
            color: #333;
            background-color: #fff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: #ccc;
            color: #333;
            background-color: #f0f0f0;
        }

        .tg .tg-lboi {
            border-color: inherit;
            text-align: left;
            vertical-align: middle
        }

        .tg .tg-yg9r {
            font-weight: bold;
            font-size: 18px;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-cji8 {
            font-size: 18px;
            border-color: inherit;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-shup {
            font-weight: bold;
            font-size: 18px;
            border-color: inherit;
            text-align: left;
            vertical-align: middle
        }

        .tg .tg-44qx {
            font-weight: bold;
            border-color: #ffffff;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-sdug {
            font-size: 18px;
            border-color: #ffffff;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-sl9l {
            font-weight: bold;
            font-size: 18px;
            border-color: #ffffff;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-7jts {
            font-size: 18px;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 873px">
    <colgroup>
        <col style="width: 69px">
        <col style="width: 450px">
        <col style="width: 99px">
        <col style="width: 96px">
        <col style="width: 70px">
        <col style="width: 89px">
    </colgroup>
    <tr>
        <th class="tg-44qx"></th>
        <th class="tg-sdug"></th>
        <th class="tg-sl9l">POS</th>
        <th class="tg-sl9l">NUM</th>
        <th class="tg-sl9l">HT</th>
        <th class="tg-sl9l">AGE</th>
    </tr>
    <tr>
        <td class="tg-lboi"><img src="~/Content/images/clint_capela.jpg" width="60px" height="42px;" /></td>
        <td class="tg-shup">Clint Capela</td>
        <td class="tg-cji8">C</td>
        <td class="tg-cji8">15</td>
        <td class="tg-cji8">6 10</td>
        <td class="tg-cji8">25</td>
    </tr>
    <tr>
        <td class="tg-lboi"><img src="~/Content/images/tyson_chandler.png" width="60px" height="42px;" /></td>
        <td class="tg-shup">Tyson Chandler</td>
        <td class="tg-cji8">C</td>
        <td class="tg-cji8">19</td>
        <td class="tg-cji8">7 0</td>
        <td class="tg-cji8">37</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/chris_clemons.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Chris Clemons</td>
        <td class="tg-7jts">PG</td>
        <td class="tg-7jts">3</td>
        <td class="tg-7jts">5 9</td>
        <td class="tg-7jts">22</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/michael_frazier.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Michael Frazier</td>
        <td class="tg-7jts">SG</td>
        <td class="tg-7jts">21</td>
        <td class="tg-7jts">6 3</td>
        <td class="tg-7jts">25</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/eric_gordon.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Eric Gordon</td>
        <td class="tg-7jts">SG</td>
        <td class="tg-7jts">10</td>
        <td class="tg-7jts">6 3</td>
        <td class="tg-7jts">31</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/gerald_green.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Gerald Green</td>
        <td class="tg-7jts">SG</td>
        <td class="tg-7jts">14</td>
        <td class="tg-7jts">6 6</td>
        <td class="tg-7jts">34</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/james_harden.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">James Harden</td>
        <td class="tg-7jts">SG</td>
        <td class="tg-7jts">13</td>
        <td class="tg-7jts">6 5</td>
        <td class="tg-7jts">30</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/isaiah_hartenstein.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Isaiah Hartenstein</td>
        <td class="tg-7jts">C</td>
        <td class="tg-7jts">55</td>
        <td class="tg-7jts">7 0</td>
        <td class="tg-7jts">21</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/nene.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Nene</td>
        <td class="tg-7jts">C</td>
        <td class="tg-7jts">42</td>
        <td class="tg-7jts">6 11</td>
        <td class="tg-7jts">37</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/danuel_house.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Danuel House Jr.</td>
        <td class="tg-7jts">SF</td>
        <td class="tg-7jts">4</td>
        <td class="tg-7jts">6 6</td>
        <td class="tg-7jts">26</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/william_howard.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">William Howard</td>
        <td class="tg-7jts">SG</td>
        <td class="tg-7jts">52</td>
        <td class="tg-7jts">6 8</td>
        <td class="tg-7jts">26</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/ben_mclemore.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Ben McLemore</td>
        <td class="tg-7jts">SG</td>
        <td class="tg-7jts">16</td>
        <td class="tg-7jts">6 3</td>
        <td class="tg-7jts">26</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/austin_rivers.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Austin Rivers</td>
        <td class="tg-7jts">PG</td>
        <td class="tg-7jts">25</td>
        <td class="tg-7jts">6 3</td>
        <td class="tg-7jts">27</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/thabo_sefolosha.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Thabo Sefolosha</td>
        <td class="tg-7jts">SF</td>
        <td class="tg-7jts">18</td>
        <td class="tg-7jts">6 6</td>
        <td class="tg-7jts">35</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/pj_tucker.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">P. J. Tucker</td>
        <td class="tg-7jts">PF</td>
        <td class="tg-7jts">17</td>
        <td class="tg-7jts">6 5</td>
        <td class="tg-7jts">34</td>
    </tr>
    <tr>
        <td class="tg-0pky"><img src="~/Content/images/russel_westbrook.png" width="60px" height="42px;" /></td>
        <td class="tg-yg9r">Russel Westbrook</td>
        <td class="tg-7jts">PG</td>
        <td class="tg-7jts">0</td>
        <td class="tg-7jts">6 3</td>
        <td class="tg-7jts">31</td>
    </tr>
</table>