
@{
    ViewBag.Title = "Season";
}

<h2>Table</h2>


<table class="tg" style="undefined;table-layout: fixed; width: 1023px">
    <colgroup>
        <col style="width: 43px">
        <col style="width: 335px">
        <col style="width: 127px">
        <col style="width: 146px">
        <col style="width: 97px">
        <col style="width: 100px">
        <col style="width: 93px">
        <col style="width: 82px">
    </colgroup>
    <tr>
        <th class="tg-ly6r"></th>
        <th class="tg-9bxu"></th>
        <th class="tg-unl0">W</th>
        <th class="tg-unl0">L</th>
        <th class="tg-unl0">%</th>
        <th class="tg-unl0">CONF</th>
        <th class="tg-unl0">L10</th>
        <th class="tg-unl0">STRK</th>
    </tr>
    <tr>
        <td class="tg-iqsh">1</td>
        <td class="tg-bn4c">Los Angeles Lakers</td>
        <td class="tg-6qw1">36</td>
        <td class="tg-6qw1">10</td>
        <td class="tg-6qw1">78,3</td>
        <td class="tg-6qw1">23 - 4</td>
        <td class="tg-6qw1">7 - 3</td>
        <td class="tg-6qw1">L1</td>
    </tr>
    <tr>
        <td class="tg-p37l">2</td>
        <td class="tg-vox4">LA Clippers</td>
        <td class="tg-baqh">33</td>
        <td class="tg-baqh">14</td>
        <td class="tg-baqh">70,2</td>
        <td class="tg-baqh">19 - 10</td>
        <td class="tg-baqh">8 - 2</td>
        <td class="tg-baqh">W2</td>
    </tr>
    <tr>
        <td class="tg-iqsh">3</td>
        <td class="tg-bn4c">Utah Jazz</td>
        <td class="tg-6qw1">32</td>
        <td class="tg-6qw1">14</td>
        <td class="tg-6qw1">69,6</td>
        <td class="tg-6qw1">18 - 9</td>
        <td class="tg-6qw1">8 - 2</td>
        <td class="tg-6qw1">L1</td>
    </tr>
    <tr>
        <td class="tg-p37l">4</td>
        <td class="tg-vox4">Denver Nuggets</td>
        <td class="tg-baqh">32</td>
        <td class="tg-baqh">15</td>
        <td class="tg-baqh">68,1</td>
        <td class="tg-baqh">20 - 8</td>
        <td class="tg-baqh">6 - 4</td>
        <td class="tg-baqh">L1</td>
    </tr>
    <tr>
        <td class="tg-iqsh">5</td>
        <td class="tg-bn4c">Houston Rockets</td>
        <td class="tg-6qw1">29</td>
        <td class="tg-6qw1">17</td>
        <td class="tg-6qw1">63,0</td>
        <td class="tg-6qw1">18 - 3</td>
        <td class="tg-6qw1">4 - 6</td>
        <td class="tg-6qw1">W1</td>
    </tr>
    <tr>
        <td class="tg-p37l">6</td>
        <td class="tg-vox4">Dallas Mavericks</td>
        <td class="tg-baqh">29</td>
        <td class="tg-baqh">18</td>
        <td class="tg-baqh">61,7</td>
        <td class="tg-baqh">18 - 11</td>
        <td class="tg-baqh">6 - 4</td>
        <td class="tg-baqh">L1</td>
    </tr>
    <tr>
        <td class="tg-1o1v">7</td>
        <td class="tg-ga3c">Oklahoma City Thunder</td>
        <td class="tg-ddj9">28</td>
        <td class="tg-ddj9">20</td>
        <td class="tg-ddj9">58,3</td>
        <td class="tg-ddj9">19 - 13</td>
        <td class="tg-ddj9">6 - 4</td>
        <td class="tg-ddj9">L1</td>
    </tr>
    <tr>
        <td class="tg-p37l">8</td>
        <td class="tg-vox4">Memphis Grizzlies</td>
        <td class="tg-baqh">23</td>
        <td class="tg-baqh">24</td>
        <td class="tg-baqh">48,9</td>
        <td class="tg-baqh">16 - 15</td>
        <td class="tg-baqh">8 - 2</td>
        <td class="tg-baqh">W3</td>
    </tr>
    <tr>
        <td class="tg-iqsh">9</td>
        <td class="tg-bn4c">San Antonio Spurs</td>
        <td class="tg-6qw1">20</td>
        <td class="tg-6qw1">26</td>
        <td class="tg-6qw1">43,5</td>
        <td class="tg-6qw1">11 - 14</td>
        <td class="tg-6qw1">4 - 6</td>
        <td class="tg-6qw1">L3</td>
    </tr>
    <tr>
        <td class="tg-p37l">10</td>
        <td class="tg-vox4">Portland Trail Blazers</td>
        <td class="tg-baqh">20</td>
        <td class="tg-baqh">27</td>
        <td class="tg-baqh">42,6</td>
        <td class="tg-baqh">11 - 19</td>
        <td class="tg-baqh">5 - 5</td>
        <td class="tg-baqh">W1</td>
    </tr>
    <tr>
        <td class="tg-iqsh">11</td>
        <td class="tg-bn4c">Phoenix Suns</td>
        <td class="tg-6qw1">20</td>
        <td class="tg-6qw1">27</td>
        <td class="tg-6qw1">42,6</td>
        <td class="tg-6qw1">11 - 21</td>
        <td class="tg-6qw1">6 - 4</td>
        <td class="tg-6qw1">W1</td>
    </tr>
    <tr>
        <td class="tg-p37l">12</td>
        <td class="tg-vox4">New Orleans Pelicans</td>
        <td class="tg-baqh">19</td>
        <td class="tg-baqh">29</td>
        <td class="tg-baqh">39,6</td>
        <td class="tg-baqh">12 - 19</td>
        <td class="tg-baqh">6 - 4</td>
        <td class="tg-baqh">W2</td>
    </tr>
    <tr>
        <td class="tg-iqsh">13</td>
        <td class="tg-bn4c">Sacramento Kings</td>
        <td class="tg-6qw1">17</td>
        <td class="tg-6qw1">29</td>
        <td class="tg-6qw1">37,0</td>
        <td class="tg-6qw1">12 - 16</td>
        <td class="tg-6qw1">4 - 6</td>
        <td class="tg-6qw1">W2</td>
    </tr>
    <tr>
        <td class="tg-p37l">14</td>
        <td class="tg-vox4">Minnesota Timberwolves</td>
        <td class="tg-baqh">15</td>
        <td class="tg-baqh">32</td>
        <td class="tg-baqh">31,9</td>
        <td class="tg-baqh">7 - 23</td>
        <td class="tg-baqh">0 - 10</td>
        <td class="tg-baqh">L10</td>
    </tr>
    <tr>
        <td class="tg-iqsh">15</td>
        <td class="tg-bn4c">Golden State Warriors</td>
        <td class="tg-6qw1">10</td>
        <td class="tg-6qw1">38</td>
        <td class="tg-6qw1">20,8</td>
        <td class="tg-6qw1">7 - 27</td>
        <td class="tg-6qw1">1 - 9</td>
        <td class="tg-6qw1">L4</td>
    </tr>
</table>