
@{
    ViewBag.Title = "Index";
}

<div class="shopHover">
    <h2>SHOP</h2>
    <h5>Available Items</h5>
    <br />
    <br />
    <br />
    <div class="image">
        <img src="~/Content/images/Jersey.jpg" alt="Trikot Rockets" style="width:300px;height:400px;">
    </div>
    <br />
    <br />
    <br />
    <p>Houston Rockets Jersey Red / James Harden</p>
    <p>Model is 1.85m height and wears size L</p>
    <p>Jersey is available with every Players Number</p>
    <br />
    <br />
    <br />
    <div class="image">
        <img src="~/Content/images/Shorts.jpg" alt="Shorts Rockets" style="width:500px;height:300px;">
    </div>
    <br />
    <br />
    <br />
    <p>Houston Rockets Shorts Black / Red</p>
    <p>We would recommend take 1 Size smaller</p>
    <br />
    <br />
    <br />
    <div class="image">
        <img src="~/Content/images/Headband.jpg" alt="Headband Rockets" style="width:200px;height:100px;">
    </div>
    <br />
    <br />
    <br />
    <p>Houston Rockets Headband Red / Grey</p>
    <p>Unit Size</p>
    <br />
    <br />
    <br />
    <div class="image">
        <img src="~/Content/images/Wristband.jpg" alt="Wristband Rockets" style="width:200px;height:200px;">
    </div>
    <br />
    <br />
    <br />
    <p>Houston Rockets Wristband Red / Grey</p>
    <p>Unit Size</p>
    <br />
    <br />
    <br />
    <div class="image">
        <img src="~/Content/images/ShootingSleeve.jpg" alt="Shooting Sleeve Rockets" style="width:50px;height:250px;">
    </div>
    <br />
    <br />
    <br />
    <p>Houston Rockets Shooting Sleeve Red / Grey</p>
    <p>Unit Size</p>
</div>

