<h3>Upcoming Games</h3>
<p>-</p>
<p>Houston Rockets - Denver Nuggets</p>
<p style="font-weight:bold;">31.01.20</p>
<p>-</p>
<p>LA Lakers - Houston Rockets</p>
<p style="font-weight:bold;">03.02.20</p>
<p>-</p>
<p>Houston Rockets - Utah Jazz</p>
<p style="font-weight:bold;">05.02.20</p>
<p>-</p>
<p>Brooklyn Nets - Houston Rockets</p>
<p style="font-weight:bold;">08.02.20</p>
<p>-</p>
<p>Houston Rockets - Miami Heat</p>
<p style="font-weight:bold;">12.02.20</p>
<p>-</p>
<p>Detroit Pistons - Houston Rockets</p>
<p style="font-weight:bold;">15.02.20</p>
<p>-</p>
<p>Houston Rockets - Phoenix Suns</p>
<p style="font-weight:bold;">18.02.20</p>

